############################
# Visual Studio
############################
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

############################
# Build / Compilation
############################
Debug/
Release/
x64/
x86/
build/
out/

*.obj
*.pch
*.pdb
*.idb
*.ilk
*.exp
*.lib
*.dll
*.exe
*.iobj
*.ipdb

############################
# CMake
############################
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

############################
# Logs / temporaires
############################
*.log
*.tmp

############################
# OS
############################
Thumbs.db
.DS_Store

############################
# Exceptions (à garder)
############################
!*.h
!*.cpp

# Garde le dossier des exécutables (si tu en as un)
!executable/
!executable/**

# Si tu veux garder certains .exe spécifiques :
#!executable/*.exe
